*{
    margin: 0;
    padding: 0;
  }
  
  
  body{
      width: 100%;
      height: 100%;
      display: flex;
      position:absolute;
      background-color: #111;
      font-family: Signika Negative, Asap, sans-serif;
      color:#00ccff52;
      justify-content: center;
      align-items: center;
      overflow:hidden;
      letter-spacing: 1px;
      background-image:url('29.jpg');
      background-size: cover;
    
  }
      
      
  .login_form_container{
      position: relative;
      width: 400px;
      height: 470px;
      max-width: 400px;
      max-height: 470px;
      background: transparent;
      border-radius: 50px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      margin-top: 70px;
  }
  .login_form_container::before{
      
      position: absolute;
      width: 170%;
      height: 170%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent,);
      animation: rotate_border 6s linear infinite;
  
  }
  .login_form_container::after{
      
      position: absolute;
      width: 170%;
      height: 170%;
      content: '';
      background-image: conic-gradient(transparent, transparent, transparent,);
      animation: rotate_border 6s linear infinite;
      animation-delay: -3s;
  }

  
  .login_form{
      position: absolute;
      content: '';
      background-color: transparent;
      border-radius: 50px 5px;
      inset: 5px;
      padding: 50px 40px;
      z-index: 10;
      color: white;
  
  } 
  h2{
      font-size: 40px;
      font-weight: 600;
      text-align: center;
  }
  .input_group{
      margin-top: 40px;
      position:relative;
      display:flex;
      align-items: center;
      justify-content: start;
  }
  .input_text{
      width: 95%;
      height: 30px;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid #d78ab8;
      font-size: 20px;
      padding-left: 10px;
      color:white;
  
  }
  ::placeholder{
      font-size: 15px;
      color:purple;
      letter-spacing: 1px;
  
  }
  .fa{
      font-size: 20px;
  
  }
  #login_button{
      position: relative;
      width: 300px;
      height: 40px;
      transition: 1s;
      margin-top: 70px;
  
  
  }
  #login_button a{
      position: absolute;
      width: 100%;
      height: 100%;
      text-decoration: none;
      z-index: 10;
      cursor: pointer;
      font-size: 22px;
      letter-spacing: 2px;
      border: 1px solid black;
      border-radius: 50px;
      background-color:gray;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .fotter {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
  
  }
  .fotter a{
      text-decoration: none;
      cursor: pointer;
      font-size: 18px;
  }
  .glowIcon {
      text-shadow: 0 0 10px #00ccff;
  
  }
  
  

.login-container,
.subscribe-container,
.email-list-container {
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}